*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(224,224,224);
}

.wish-wall{
    background: #409eff;
    width: 100%;
    height: 6rem;
    color:#fff;
    font-size: 1.2rem;
    overflow: hidden;
}
.wish-wall .cn{
    margin: 2rem 0 0 1rem;
    letter-spacing: 1rem;
}
.wish-wall .en{
    margin-left: 1.2rem;
    font-size:0.8rem;
}

.userinfo>div{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #ffffff;
    border-bottom:1px solid rgb(224,224,224);
    position: relative;
}
.userinfo>div img{
    width: 0.7rem;
    margin-top: 0.4rem;
    margin-left: 5%;
}
.userinfo>div input{
    border:none;
    outline:none;
    width: 80%;
    float:right;
    height: 1.5rem;
    left: 1.5rem;
    font-size: 0.5rem;
}
.remember{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom:1px solid rgb(224,224,224);
    position: relative;
    font-size: 0.4rem;
    overflow: hidden;
}
.remember img{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.remember span{
    margin-left: 15%;
}

#publish{
    width: 90%;
    height: 1rem;
    background: #409eff;
    line-height: 1rem;
    text-align: center;
    border-radius: 20px;
    color:#fff;
    font-size: 0.5rem;
    margin:0 auto;
    margin-top: 4rem;
}
#publish::first-letter{
    
}
